mashup/flows(1).json
[
    {
        "id": "211c74b0bcd1cf94",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2b1e51116326e32",
        "type": "inject",
        "z": "211c74b0bcd1cf94",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 340,
        "wires": [
            [
                "44a79c4fba2240b7",
                "f3bb652eaae7a9f4"
            ]
        ]
    },
    {
        "id": "44a79c4fba2240b7",
        "type": "http request",
        "z": "211c74b0bcd1cf94",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.16.1.7:1026/v2/entities/Motion_sensor_state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "91fb3b3f3fcf6b77"
            ]
        ]
    },
    {
        "id": "91fb3b3f3fcf6b77",
        "type": "function",
        "z": "211c74b0bcd1cf94",
        "name": "",
        "func": "msg.payload = {\n    \"id\": \"Motion_sensor_state\",\n    \"type\": \"property\",\n    \"Thing\": \"Motion_sensor\",\n    \"name\": \"state\",\n    \"property\": \"state\",\n    \"values\": {\n        \"state\": \"CLEAR\"\n    }\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 440,
        "wires": [
            [
                "456d4ae0c4b6f2a7"
            ]
        ]
    },
    {
        "id": "456d4ae0c4b6f2a7",
        "type": "http request",
        "z": "211c74b0bcd1cf94",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.16.1.7:1026/v2/entities?options=keyValues",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 830,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f3bb652eaae7a9f4",
        "type": "delay",
        "z": "211c74b0bcd1cf94",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 280,
        "wires": [
            [
                "d570ad34bbde3a06"
            ]
        ]
    },
    {
        "id": "d570ad34bbde3a06",
        "type": "openApi-red",
        "z": "211c74b0bcd1cf94",
        "name": "",
        "openApiUrl": "http://172.16.1.1:5001/things/628053671a01a885ed127bea",
        "api": "Properties",
        "server": "",
        "keepAuth": false,
        "alternServer": false,
        "operation": "retrieveProperty",
        "operationData": {
            "tags": [
                "Properties"
            ],
            "summary": "Retrieve the state of the motion sensor (DETECTED or CLEAR)",
            "description": "In response to an HTTP GET request on a Property URL, an Extended Web Thing must return an array that lists recent values of that Property.",
            "operationId": "retrieveProperty",
            "parameters": [
                {
                    "name": "page",
                    "description": "Pagination first (page) parameter",
                    "in": "query",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    },
                    "$$ref": "http://172.16.1.1:5001/things/625e8c3075b3fc89d2087203#/components/parameters/pageParam"
                },
                {
                    "name": "perPage",
                    "description": "Pagination second (per page) parameter",
                    "in": "query",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                }
            ],
            "responses": {
                "200": {
                    "description": "successful operation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "x-kindOf": "http://www.w3.org/ns/sosa/Observation",
                                    "properties": {
                                        "state": {
                                            "type": "string",
                                            "x-kindOf": "http://www.w3.org/ns/sosa/hasSimpleResult",
                                            "enum": [
                                                "DETECTED",
                                                "CLEAR"
                                            ]
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time",
                                            "x-kindOf": "http://www.w3.org/ns/sosa/resultTime"
                                        }
                                    },
                                    "xml": {
                                        "name": "State"
                                    },
                                    "$$ref": "http://172.16.1.1:5001/things/625e8c3075b3fc89d2087203#/components/schemas/State"
                                }
                            }
                        }
                    }
                },
                "404": {
                    "description": "Not found"
                }
            },
            "__originalOperationId": "retrieveProperty",
            "path": "/properties/state"
        },
        "errorHandling": "Standard",
        "internalErrors": {
            "readUrl": false
        },
        "parameters": [
            {
                "id": "pagequery",
                "name": "page",
                "in": "query",
                "required": false,
                "value": "",
                "isActive": false,
                "type": "num",
                "allowedTypes": [
                    "num",
                    "jsonata",
                    "msg",
                    "flow",
                    "global"
                ],
                "description": "Pagination first (page) parameter",
                "schema": {
                    "type": "integer"
                },
                "keys": null
            },
            {
                "id": "perPagequery",
                "name": "perPage",
                "in": "query",
                "required": false,
                "value": "",
                "isActive": false,
                "type": "num",
                "allowedTypes": [
                    "num",
                    "jsonata",
                    "msg",
                    "flow",
                    "global"
                ],
                "description": "Pagination second (per page) parameter",
                "schema": {
                    "type": "integer"
                },
                "keys": null
            }
        ],
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "showDescription": true,
        "outputs": 1,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "12c65d6194c49848"
            ]
        ]
    },
    {
        "id": "12c65d6194c49848",
        "type": "switch",
        "z": "211c74b0bcd1cf94",
        "name": "",
        "property": "payload.body.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "DETECTED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLEAR",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "219e58a1790619a2"
            ],
            [
                "c15ff9d93bb88de7"
            ]
        ]
    },
    {
        "id": "219e58a1790619a2",
        "type": "openApi-red",
        "z": "211c74b0bcd1cf94",
        "name": "",
        "openApiUrl": "http://172.16.1.1:5001/things/628053561a01a885ed127be7",
        "api": "Actions",
        "server": "",
        "keepAuth": false,
        "alternServer": false,
        "operation": "executeLampOnAction",
        "operationData": {
            "tags": [
                "SmartLamp"
            ],
            "summary": "Switch ON the Smart Lamp",
            "description": "In response to an HTTP POST request on an Action URL with valid parameters as request body, an Extended Web Thing must either reject the request with the appropriate status code or queue a task to run the action and return the status of that action in a 201 Created response. The action may not run immediately. The Location HTTP header identifies the URL to use to retrieve the most recent update on the action's status.",
            "operationId": "executeLampOnAction",
            "requestBody": {
                "description": "Request body to switch on the Smart Lamp",
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "Thing",
                                "name",
                                "status",
                                "timestamp",
                                "type"
                            ],
                            "type": "object",
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "example": "execution"
                                },
                                "Thing": {
                                    "type": "string",
                                    "example": "SmartLamp_actuator"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "lampOn"
                                },
                                "status": {
                                    "type": "string",
                                    "example": "executing"
                                },
                                "timestamp": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "value": {
                                    "type": "object",
                                    "properties": {
                                        "delay": {
                                            "type": "integer",
                                            "format": "int32",
                                            "example": 50
                                        }
                                    }
                                }
                            },
                            "xml": {
                                "name": "LampOnRequestBody"
                            },
                            "$$ref": "http://172.16.1.1:5001/things/6253156f1f828ab4ddcdd5b1#/components/schemas/LampOnRequestBody"
                        }
                    }
                },
                "required": false
            },
            "responses": {
                "204": {
                    "description": "NO RESPONSE"
                },
                "404": {
                    "description": "Not found"
                }
            },
            "__originalOperationId": "executeLampOnAction",
            "path": "/actions/lampOn"
        },
        "errorHandling": "Standard",
        "internalErrors": {
            "readUrl": false
        },
        "parameters": [
            {
                "id": "requestBody",
                "name": "Request body",
                "in": "",
                "schema": {
                    "required": [
                        "Thing",
                        "name",
                        "status",
                        "timestamp",
                        "type"
                    ],
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "example": "execution"
                        },
                        "Thing": {
                            "type": "string",
                            "example": "SmartLamp_actuator"
                        },
                        "name": {
                            "type": "string",
                            "example": "lampOn"
                        },
                        "status": {
                            "type": "string",
                            "example": "executing"
                        },
                        "timestamp": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "value": {
                            "type": "object",
                            "properties": {
                                "delay": {
                                    "type": "integer",
                                    "format": "int32",
                                    "example": 50
                                }
                            }
                        }
                    },
                    "xml": {
                        "name": "LampOnRequestBody"
                    },
                    "$$ref": "http://172.16.1.1:5001/things/6253156f1f828ab4ddcdd5b1#/components/schemas/LampOnRequestBody"
                },
                "value": "{\"type\":\"execution\",\"Thing\":\"SmartHome_actuator\",\"name\":\"lampOn\",\"status\":\"executing\",\"timestamp\":\"2021-04-04T18:33:25.938Z\",\"value\":{\"delay\":50}}",
                "required": false,
                "isActive": true,
                "description": "Request body to switch on the Smart Lamp",
                "type": "json",
                "allowedTypes": [
                    "json",
                    "jsonata",
                    "msg",
                    "flow",
                    "global"
                ],
                "keys": [
                    "Thing",
                    "name",
                    "status",
                    "timestamp",
                    "type",
                    "value"
                ]
            }
        ],
        "requestContentType": "application/json",
        "responseContentType": "",
        "showDescription": true,
        "outputs": 1,
        "x": 1260,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c15ff9d93bb88de7",
        "type": "openApi-red",
        "z": "211c74b0bcd1cf94",
        "name": "",
        "openApiUrl": "http://172.16.1.1:5001/things/628053561a01a885ed127be7",
        "api": "Actions",
        "server": "",
        "keepAuth": false,
        "alternServer": false,
        "operation": "executeLampOffAction",
        "operationData": {
            "tags": [
                "Actions"
            ],
            "summary": "switch OFF the smart Lamp",
            "description": "In response to an HTTP POST request on an Action URL with valid parameters as request body, an Extended Web Thing must either reject the request with the appropriate status code or queue a task to run the action and return the status of that action in a 201 Created response. The action may not run immediately. The Location HTTP header identifies the URL to use to retrieve the most recent update on the action's status.",
            "operationId": "executeLampOffAction",
            "requestBody": {
                "description": "Request body to switch off the Smart Lamp",
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "Thing",
                                "name",
                                "status",
                                "timestamp",
                                "type"
                            ],
                            "type": "object",
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "example": "execution"
                                },
                                "Thing": {
                                    "type": "string",
                                    "example": "SmartLamp_actuator"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "lampOn"
                                },
                                "status": {
                                    "type": "string",
                                    "example": "executing"
                                },
                                "timestamp": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "value": {
                                    "type": "object",
                                    "properties": {
                                        "delay": {
                                            "type": "integer",
                                            "format": "int32",
                                            "example": 50
                                        }
                                    }
                                }
                            },
                            "xml": {
                                "name": "LampOnRequestBody"
                            },
                            "$$ref": "http://172.16.1.1:5001/things/625302b947ef81c922dd2476#/components/schemas/LampOnRequestBody"
                        }
                    }
                },
                "required": false
            },
            "responses": {
                "204": {
                    "description": "NO RESPONSE"
                },
                "404": {
                    "description": "Not found"
                }
            },
            "__originalOperationId": "executeLampOffAction",
            "path": "/actions/lampOff"
        },
        "errorHandling": "Standard",
        "internalErrors": {
            "readUrl": false
        },
        "parameters": [
            {
                "id": "requestBody",
                "name": "Request body",
                "in": "",
                "schema": {
                    "required": [
                        "Thing",
                        "name",
                        "status",
                        "timestamp",
                        "type"
                    ],
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "example": "execution"
                        },
                        "Thing": {
                            "type": "string",
                            "example": "SmartLamp_actuator"
                        },
                        "name": {
                            "type": "string",
                            "example": "lampOn"
                        },
                        "status": {
                            "type": "string",
                            "example": "executing"
                        },
                        "timestamp": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "value": {
                            "type": "object",
                            "properties": {
                                "delay": {
                                    "type": "integer",
                                    "format": "int32",
                                    "example": 50
                                }
                            }
                        }
                    },
                    "xml": {
                        "name": "LampOnRequestBody"
                    },
                    "$$ref": "http://172.16.1.1:5001/things/625302b947ef81c922dd2476#/components/schemas/LampOnRequestBody"
                },
                "value": "{\"type\":\"execution\",\"Thing\":\"SmartHome_actuator\",\"name\":\"lampOff\",\"status\":\"executing\",\"timestamp\":\"2021-04-04T18:33:25.938Z\",\"value\":{\"delay\":50}}",
                "required": false,
                "isActive": true,
                "description": "Request body to switch off the Smart Lamp",
                "type": "json",
                "allowedTypes": [
                    "json",
                    "jsonata",
                    "msg",
                    "flow",
                    "global"
                ],
                "keys": [
                    "Thing",
                    "name",
                    "status",
                    "timestamp",
                    "type",
                    "value"
                ]
            }
        ],
        "requestContentType": "application/json",
        "responseContentType": "",
        "showDescription": true,
        "outputs": 1,
        "x": 1260,
        "y": 340,
        "wires": [
            []
        ]
    }
]